        <div id="picture"><img src="/images/alain.jpg" /></div>
        <div id="descripcion">
          <h2>Autor:</h2>
          <p>Nombre: Alain Miguel Bermúdez García</p>
          <p>Administrador de sistemas Linux y amante del Diseño Web.<br />
          Aprendiendo NodeJS a través de Miriadax</p>
        </div>